* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {}

.site-header {
    padding: 40px 0px;

}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    margin-left: 33px;
}

.navbar__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.herro {
    margin: 0 auto;
    padding: 137px 0px 137px 85px;
    background-image: url('./img/Bitmap.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 168px;
}

.herro__title {
    width: 150px;
    height: 40px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #FEFCF7;
    margin-bottom: 24px;
}

.herro__text {
    width: 398px;
    height: 100px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.site-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.site-section__title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin-bottom: 32px;
}

.site-section__text {
    width: 540px;
    height: 260px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
}